<form class="form" [formGroup]="profileForm">
    <div class="input-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstname"/>
    </div>
    <div class="input-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastname" />
    </div>
    <div class="input-group">
        <label>Age</label>
        <input type="text" class="form-control" formControlName="age" />
    </div>
    <div class="form-group">
        <app-subform [parentGroup]="profileForm" [mandatoryStatus]="passMandatoryRequest" *ngFor="let l of length;let i = index"></app-subform>        <!-- formArrayName="subFormsArray" -->
        <div class="addMore"><button type="button" (click)="addMoreRow()">+ Add Row</button></div>
    </div>
    <div class="checkbox">
        <input type="checkbox" formControlName="mandatory" (change)="passValue()"/>Mandatory Fields
    </div>
    <div class="input-group">
        
        <app-button  (click)="newFctn(this.profileForm.value)" [dataSave]=buttonName [disabledStatus]="profileForm.valid"></app-button>
        <!-- <button type="submit" (click)="newFctn(this.profileForm.value)" [disabled]="!profileForm.valid">Submit</button> -->
    </div>
</form>
